.tri-animation-section{
    max-width:100%;
    height: auto;
  
    }

small {
        width:0;
        height:0;
        border: solid;
        position: absolute;
        z-index: -100;
        pointer-events: none;
        border-color: transparent transparent #fff transparent;
        animation: animate 5s linear infinite;
    }

    @keyframes animate
    {
      0%
      {
          transform: scale(0) translateY(0) rotate(0deg);
          opacity: 0;
      }
    
      30%
      {
          opacity: 1;
      }
    
      90%
      {
          opacity: 1;
      }
    
      100%
      {
          transform: scale(0.5) translateY(-500%) rotate(190deg);
          opacity: 0;
      }
    
    }

    



