.scroll-down-icon {
    display: flex;
    justify-content: center;
    .scroll-down-container {
        height: 50px;
        position: relative;
        &::after{
            content:"";
            position: absolute;
            left: 50%;
            bottom:-5%;
            height: 30px;
            border: .5px solid #000;
            background: #000;
        }
    }
}

.selfIntro {
    
    .row {
        justify-content: center;
    }
}


.skills {
    .material-icons {
        &.md-160 { font-size: 160px; };
        &.md-150 { font-size: 150px; };
    }
    .material-icons-computer {
        color: #00AAFF;     
    }

    .material-icons-research {
        padding: 4px 0 4px 0;
        color: #F78FB3;   
    }

    .material-icons-language {
        color:#7dd6cf;
        color:#FFCC00;
    }

    .card {
        transform-style: preserve-3d;
        transition: all .8s ease-in-out;
        &:hover  {
            transform: rotateY(.5turn);
        }

        .front {
            z-index: 2;
            backface-visibility: hidden;
        
        }

        .back {
            position: absolute;
            z-index: 1;
            transform: rotateY(.5turn);

        }

       
    }

   

}




.works-nav {
    
    .works-all {
    transition: all .5s ease;
    background: rgb(110, 110, 110);
    color: white;
   
    &:hover {
        background:rgba(177, 177, 177, 0.856);
        text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
     }
        }
    .works-website,.works-creative, .works-video, .works-edugame {
    transition: all .5s ease;
    background:rgba(230, 230, 230, 0.849);
        &:hover {
            background:rgb(177, 177, 177);
            a {
                color: white;
                text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
                
            }
        }
    }
}


.works-items {
    .card {
        position: relative;
        border: none;
        padding: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

      .card-body{
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: all .9s;
        opacity: 0;

        &:hover {
        background-color: rgba(0, 0, 0, 0.651);
        backdrop-filter: blur(2px);
        opacity: 1;
        top: 10px;
        bottom: 10px;
        right: 10px;
        left: 10px;
      
        }

        a {
            color: white;
            &:hover {
                .card-title {
                    font-size: 1.8rem;
                } 
            }
        }
     
     }

     .card-title{
            
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .5s ease;

        
    } 
    
  
        
    }
}


.contact {
    .submitBtn {
        transition: all .6s ease;
        background-color:#4093bd;
        border:none;
        &:hover {
            background-color:#66a2d4d7 ;
        }
    }
}

   