@import "bootstrap/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


*,*::after,*::before {
    box-sizing: border-box;
    // outline: 1px solid red;
   
}

img {
    width: 100%;
}


// .material-icons.md-200 { font-size: 160px; }




.nav-list-container {
    // outline: solid 1px red;
    display: flex;
    justify-content: flex-end;
}

.header {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    }
    
    
    
.header-titleStyle {
    font-family: 'Black Ops One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 1200%; 
    color: rgb(255 178 218);
    cursor: pointer;
    position: relative;
    z-index: 1;
    div {
        transition: all 1s ease;
        animation: sizeChange alternate 2s linear infinite;
        
    }

    div:nth-child(odd){
        color: #7dd6cf;
     
    }

    div:nth-child(even){
        color: rgb(255 178 218);
    }
    
    div:nth-child(odd):hover {
        color: #5067e6;
        transform: translateY(-30%) ;
    
    }

    div:nth-child(even):hover{
        color:#facf22;
        transform: translateY(-30%);
    }
    

}


@keyframes sizeChange{
    0%
    {
        transform: scale(1);
     
    }

    50%
    {
        transform: scale(0.95);
     
    }


    100%
    {
        transform: scale(1);
      
    }
}



.scroll-down-icon {
    display: flex;
    justify-content: center;
    .scroll-down-container {
        // outline: solid 1px red;
        height: 50px;
        position: relative;
        &::after{
            content:"";
            // outline: solid 1px blue;
            position: absolute;
            left: 50%;
            bottom:-5%;
            height: 30px;
            border: .5px solid #000;
            background: #000;


        }
      

    }
   
 

}

.selfIntro {
    .row {
        justify-content: center;
    }
}


.skills {
    .material-icons {
        &.md-160 { font-size: 160px; };
        &.md-150 { font-size: 150px; };

    }
    .material-icons-computer {
        color: #00AAFF;     
    }

    .material-icons-research {
        padding: 4px 0 4px 0;
        color: #F78FB3;   
    }

    .material-icons-language {
        color:#7dd6cf;
        color:#FFCC00;
    }

}
    
  
 
    
   
    
    
    
  
   